Add support for IMF-fixdate formated date generation

RFC 7231 describes IMF-fixdate as a prefered format for the "Date" header field. This format is required by [Amazon S3](http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html#RESTAuthenticationTimeStamp) (RFC 7231 obsoletes [RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616.html)) and [Riak S2](http://docs.basho.com/riak/cs/2.1.1/references/apis/storage). There is little difference between IMF-fixdate and RFC 2109 date formats, so it looks like we could reuse most of the code.


From [RFC 7231 - Hypertext Transfer Protocol (HTTP/1.1): Semantics and Content - 7.1.1.2. Date](https://tools.ietf.org/html/rfc7231#section-7.1.1.2):

>    The "Date" header field represents the date and time at which the
>    message was originated, having the same semantics as the Origination
>    Date Field (orig-date) defined in Section 3.6.1 of [RFC5322].  The
>    field value is an HTTP-date, as defined in Section 7.1.1.1.
> 
>      Date = HTTP-date
> 
>    An example is
> 
>      Date: Tue, 15 Nov 1994 08:12:31 GMT

@essen would you mind if I made a PR with `cow_date:rfc7231/1` function?

RFC 2109 is the one for cookies and should only be used there. You are correct that the one for the Date header is missing, and there's a big reason for that: in Cowboy, it is inside the `cowboy_clock` module (https://github.com/ninenines/cowboy/blob/master/src/cowboy_clock.erl). Cowboy generates it once and then updates every fraction of a second only the value that needs updating. It does this to save some time for every request.

I have no problem with adding a function in `cow_date` to just generate the date. I'm sure people would love to have it for other headers. For clarity, you should make a function rfc1123 that calls the rfc7231 function. This date format is defined in many RFCs ultimately, but since Cowboy currently calls it rfc1123, let's make that obvious that it's the same.

Cheers.

Thanks for explanation, it's really interested in knowing details about decisions behind the design of Cowboy. I'll add `cow_date:rfc1123` tomorrow.

Closing, thanks!